html {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #F4F9F9;
}

body {
  margin: 0;
}

section {
  margin: 5%;
}

nav {
  background: transparent;
  color: #F4F9F9;
  text-align: right;
}

header { 
  height: 100%;
  border-bottom: 1px solid #ccc;
}

p {
  color: black;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2%;
}

li {
    display: inline;
}


i {
  color: #406E8E;
}

i:hover {
  color: #87BCDE;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #406E8E;
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #406E8E;
}

a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: #87BCDE;
}

a.section-link {
  font-size: 20px;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

a.section-link:hover {
  color: #87BCDE;
}

#contact {
  text-align: center;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: #406E8E;
}

.header-name {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #87BCDE;
  font-size: 3.2em;
  margin: 0;
}

.header-statement {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 2em;
  margin: 0;
  padding-top: 5%;
}

#main {
  margin: 10%;
}

.nav-item {
  text-transform: uppercase;
  padding: 3%;
  font-weight: bolder;
}

#personal-statement {
  padding: 13%;
  font-size: 2em;
  word-spacing: .1em
}

#portfolio {
  text-align: center;
}

#portfolio table {
  width: 100%;
}

#profile {
  background-color: #A3C3D9;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: left;
}

#tracy-pic {
  border-radius: 50%;
  width: 50%;
  height: auto;
  display: inline-block;
  float: right;
  padding: 5%;
}
