html {
  font-family: 'Lato', sans-serif;
  background-color: #FFFFFF;
  background
}

section {
  margin: 5%;
}

p {
  color: #484848;
  font-size: 20px;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #FF9B71;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: #008489;
  font-style: italic;
  font-size: 45px;
}

a:hover {
  color: #FF6663;
  font-size: 50px;
}

#about-me {
  text-align: center;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: #406E8E;
}

.header-name {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FF6663;
  font-size: 70px;
  padding-top: 8%;
  letter-spacing: 2px;
}

.section-header {
  text-align: center;
  text-transform: uppercase;
}
