html {
  font-family: 'Indie Flower', sans-serif;
  background: url("../images/leavenothingbutfeetsign.jpg") no-repeat center center fixed;
  width: auto;
  height: 100%;
  margin: -10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 5%;
}

p {
  color: #0A2239;
  font-size: 50px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #0A2239;
  font-style: italic;
}

a:hover {
  color: #FF6663;
  font-size: 70px;
}

#about-me {
  text-align: center;
  margin: 5%;
}

.footer-text {
  text-align: center;
  font-size: 65px;
}

.header-name {
  color: #29335C;
  font-size: 80px;
  margin: 5%;
  letter-spacing: 2px;
}
